<h1> WELCOME to Rock, Paper, Scissors! </h1>
<h2> A most satisfying game of skill and endurance! </h2>

<p> RULES:</p>  
<p> Each player (minimum 2) chooses "Rock", "Paper" or "Scissors" - hand gestures optional! </p> 
<p> ROCK trumps Scissors </p>
<p> PAPER trumps Rock </p>
<p> SCISSORS trumps Paper</p>
<p> A draw?  Go again! </p>

<h2> CLICK 'PLAY!' to proceed! </h2>




