<h1> Player 2 please choose:</h1>
  <ul>
    <li><a href="/rockpaper/paper/rock">"ROCK"</a></li>
    <li><a href="/rockpaper/paper/paper">"PAPER"</a></li>
    <li><a href="/rockpaper/paper/scissors">"SCISSORS"</a></li>
  </ul>