<h1> Player 2 please choose:</h1>
  <ul>
    <li><a href="/rockpaper/rock/rock">"ROCK"</a></li>
    <li><a href="/rockpaper/rock/paper">"PAPER"</a></li>
    <li><a href="/rockpaper/rock/scissors">"SCISSORS"</a></li>
  </ul>