<h1> Player 2 please choose:</h1>
  <ul>
    <li><a href="/rockpaper/scissors/rock">"ROCK"</a></li>
    <li><a href="/rockpaper/scissors/paper">"PAPER"</a></li>
    <li><a href="/rockpaper/scissors/scissors">"SCISSORS"</a></li>
  </ul>