
<h1> Player 1 please choose:</h1>
    <ul>
      <li><a href="/rockpaper/rock">"ROCK"</a></li>
      <li><a href="/rockpaper/paper">"PAPER"</a></li>
      <li><a href="/rockpaper/scissors">"SCISSORS"</a></li>
    </ul>


